@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
:root {
    --cor01:#274001;
    --cor02:#6E8C03;
    --cor03:#365902;
    --cor04:#172601;
    
}
header {
    background-color:#1726016b;
    
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background: url(imagens/amazonia.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
.menu{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.icone {
    background-color: #172601b2;
    box-shadow: 5px 5px 6px var(--cor04);
}
.titulo {
    text-shadow: 2px 2px 5px solid var(--cor04);
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.titulo:hover {
    padding: 2px;
    background-color: white;
    color: var(--cor01);
    letter-spacing: 0.25em;
}
.ancoranav {
    position:relative;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    background-color: var(--cor02);
    letter-spacing: 0.1em;
    padding: 6px 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

.ancoranav:hover {
    letter-spacing: 0.25em;
    background-color: var(--cor04);
    color: var(--cor04);
    box-shadow: 0px 0px 35px var(--cor04);
}

.ancoranav::before {
    content: '';
    position: absolute;
    inset:2px;
    background-color: var(--cor02);
}

.ancoranav span {
    position: relative;
    z-index: 1;
}

.ancoranav i {
    position: absolute;
    inset:0;
    display: block;
}

.ancoranav i::before {
    position: absolute;
    content: '';
    border: 2px solid var(--cor04);
    left: 80%;
    top: -3.5px;
    width: 10px;
    height: 5px;
    background-color: var(--cor02);
    transition: 0.5s;
    transform: translate(-50%);
}

.ancoranav:hover i::before {
    left: 20%;
    width: 20px;
}

.ancoranav i::after {
    position: absolute;
    content: '';
    border: 2px solid var(--cor04);
    left: 20%;
    bottom: -3.5px;
    width: 10px;
    height: 5px;
    background-color: var(--cor02);
    transition: 0.5s;
    transform: translate(-50%);
}

.ancoranav:hover i::after {
    left: 80%;
    width: 20px;
}

main {
    width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    
}
main h2 {
    font-size: 2em;
    text-align:center;
}
main > p {
    text-indent: 10px;
  justify-content: space-around;
}

