* {
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    }
   .menu {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
   }