* {
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, sans-serif;
    }
   header {
    background-color: #004B71;
   }
   .titulo{
    font-size:2em;
    font-weight:bolder;
    padding: 10px;
    text-align: center;
    color: white;
   }
   nav{
    text-align: center;
    padding: 10px;
   }

   a {
    letter-spacing: 1px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
  }